<!DOCTYPE html>
<html lang="en">

<head>
    <title>VeriCert</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
  function validateInput() {

    if (document.getElementById("txtHash").value == "") {
      alert('Please enter hash to verify');
      return false;
    } else {
     document.getElementById('frmVerify').submit();
    }
  }
  
</script>
</head>

<body>

      <nav class="navbar navbar-light bg-light">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="../static/images/logo_white.png" alt="VeriCert"/></a>
        </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item active" >
                <a class="nav-link" href="#">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="login">Sign In</a></li>
              <li class="nav-item">
                <a class="nav-link" href="signup">Sign Up</a>
              </li>
            </ul>
          </div>
          </nav>

          <div class="container">

                    <form id="frmVerify" class="form-inline" action="search" method="get">
                      <h2>Blockchain Certificate Verification</h2>
                      <section>
                      <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-addon">SHA256</div> -->
                          <label for="txtHash" class="sr-only">Enter hash to verify</label>
                        <input type="text" name="q" class="form-control" id="txtHash" value="" placeholder="Enter hash to verify certificate..." required>
                        <div class="input-group-addon"><a onclick="validateInput();" href="#">Verify</a></div>
                        </div>
                        <!-- <button type="submit" class="btn btn-default">Verify</button> -->
                      </div>
                      </section>
                    </form>

          </div>

        <footer>
            <p>&copy; University of Bedfordshire 2018</p>
        </footer>

</body>

</html>
