<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vericert</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/main.css" rel="stylesheet">
  <script type="text/javascript">
    function validateForm(){
      var email = document.getElementById('iEmail').value;
        if (email.endsWith(".ac.uk")){
          return true;
        } else {
          alert("Only institution's email address allowed");
          document.getElementById('iName').value = '';
          document.getElementById('iEmail').value = '';
          document.getElementById('iPassword').value = '';
          return false;
        }
    }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="../static/images/logo_white.png" alt="VeriCert"/></a>
      </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" >
              <a class="nav-link" href="main">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="login">Sign In</a></li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
        </nav>


    <div class="container">
      <div class="body">
        <h3>{{ server_res[0] }}</h3>
        <h3>{{ server_res[1] }}</h3>


    </div>
    </div>

    <footer>
        <p>&copy; University of Bedfordshire 2018</p>
    </footer>
  </body>
</html>
